


html {
    font-size: 300%;
}

h1 {
    font-size: 2em;
    text-align: center;
}
 p {
     font-size: .4em;

}

footer {
    font-size: 40%;
    padding: 10px;
    bottom: 0;
    position: fixed;
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    text-align: center;

}